div{
    background-color: #04386d;
    margin:0;
    padding:0px;
    }
    body{ 
    
    border:4px solid black;
    height:100vw;
    width:80vw;
    margin-right:50px;
    margin-left:5px;
    padding:6px;
    }
    form{
    
    }
    head{
     
    }